/**
* this is the common specific styles
*/

@import 'variables';
@import 'mixin';
// @import './fonts';



*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height:1.4;
    font-size: PX2REM(18);
    color: $color-1;
    @include mediaMax(767px){
        font-size: PX2REM(16);
    }
}

// css for base page height
.base-page {
    min-height: calc(100vh - 27rem);
    // background-color: $color-16;
    @include mediaMax(767px) {
        min-height: calc(100vh - 42rem);
    }
}

.web-only {
    @include mediaMax(767px) {
        display: none !important;
    }
}

.mob-only,
.for-mob {
    @include mediaMin(767px) {
        display: none !important;
    }
}



/**
 * buttons
 */
.decoration-none {
    text-decoration: none !important;
}

.c-pointer {
    cursor: pointer !important;
}
.c-not-allowed{
    cursor: not-allowed !important;
}
.c-text {
    cursor: text !important;
}
.no-overflow {
    overflow: hidden !important;
}

a.has-link {
    cursor: pointer;
}
.ls-0{
    list-style-type: none;
}

a{
    text-decoration: none !important;
}

img{
    display: block;
    max-width: 100%;
    height: auto !important;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}
.hidden{
    display: none !important;
}
.bdr-1{
    border-radius: 10px;
}
.full-height{
    min-height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
}
.v-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.p-top1{
    padding-top: PX2REM(80);
    @include mediaMax(767px){
        padding-top: PX2REM(60);
    }
}
.p-m-0{
    @include mediaMax(767px){
        padding: 0 !important;
    }
}
img{
    display: block;
    max-width: 100%;
}
.link{
    border-radius: 4px;
    padding: 8px 10px 8px;
    border: none;
    outline: none !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear 0s;
    font-weight: 500;
    &.link--1{
        background-color: $color-4;
        color: $color-6;
        &:hover{
            background-color: $color-4;
            color: $color-6;
        }
    }
    &.link--2{
        background-color: $color-6;
        color: $color-4;
        &:hover{
            background-color: $color-6;
            color: $color-4;
        }
    }
    &.link--3{
        background-color: transparent;
        color: $color-6;
        &:hover{
            background-color: $color-4;
            color: $color-6;
            border: none;
        }
    }

    &.link--lg{
        min-width: 190px;
        height: 52px;
        @include fs(20);
        @include mediaMax(1199px){
            @include fs(16);
            height: 36px;
            min-width: 140px;
        }
    }
    &.link--md{
        min-width: 166px;
        height: 48px;
        @include fs(16);
        @include mediaMax(1199px){
            @include fs(16);
            height: 36px;
            min-width: 110px;
        }
    }
    &.link--sm{
        min-width: 82px;
        height: 46px;
        @include fs(20);
        @include mediaMax(1199px){
            @include fs(16);
            height: 36px;
            min-width: 110px;
        }
    }

}
.text-underline{
    text-decoration: underline !important;
}


//slick common styles
.slick-dotted.slick-slider {
    margin-bottom: 45px;
}
.slick-slide {
    img {
      width: 100%;
    }
  }

  .slick-dots {
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    padding: 0 15px;
    left: 50%;
    transform: translateX(-50%);
    li {
      margin: 0 6px;
      height: auto;
      width: auto;
      button {
        width: 65px;
        height: 6px;
        border-radius: 5px;
        padding: 0;
        opacity: 1;
        background: transparent;
        position: relative;
        overflow: hidden;
        &::before {
          content:"";
          transition: all 0.2s linear 0s;
          position: absolute;
          top: 50%;
          width: 100%;
          transform: translateY(-50%);
          height: 3px;
          background-color: $color-1;
        }
      }
      &.slick-active,
      &:hover {
        button {
          opacity: 1;
          &::before{
              height: 6px;
          }
        }
      }
    }
  }
  

@each $_c in $all_colors {
    .bg-#{nth($_c, 1)} {
        background-color: nth($_c, 2) !important;
    }
    .color-#{nth($_c, 1)} {
        color: nth($_c, 2) !important;
    }
}

@each $type,
$weight in lighter 300,
normal 400,
medium 500,
semi-bold 600,
bold 700,
extra-bold 800,
extra-black 900 {
    .weight-#{$weight} {
        font-weight: $weight !important;
    }
    .#{$type} {
        font-weight: $weight !important;
    }
}

@each $heading,
$size,
$mob in "h1" PX2REM(54) PX2REM(40),
"h2" PX2REM(46) PX2REM(30),
"h3" PX2REM(30) PX2REM(26),
"h4" PX2REM(26) PX2REM(18),
"h5" PX2REM(24) PX2REM(18),
"h6" PX2REM(20) PX2REM(16) {
    .heading-#{$heading},
    #{$heading} {
        font-size: $size !important;
        color: $color-1;
        line-height: 1;
        font-weight: 700;
        @include mediaMax(767px) {
            font-size: $mob !important;
        }
    }
    // #{$heading} {
    //     font-weight: bold;
    // }
}
h1, .heading-h1, #h1{
    color: $color-4;
    line-height: 1.33;
    text-transform: capitalize;
}
h3{
    font-weight: 600;
}
@each $paragraph,
$size,
$mob in '1' PX2REM(25) PX2REM(20),
'2' PX2REM(18) PX2REM(18),
'3' PX2REM(16) PX2REM(16) {
    .para-#{$paragraph} {
        font-size: $size !important;
        @include mediaMax(767px) {
            font-size: $mob !important;
        }
    }
}
.p-type1 p, .p-type1{
    font-size: 24px !important;
    line-height: 1.6;
    color: $color-8;
    @include mediaMax(767px) {
        font-size:18px !important;
    }
}
.w-100{
    width: 100%;
}
.no-m{
    p,span{
        margin-bottom: 0 !important;
    }
}


// @for $width from 1 through 100 {
//     .w-#{$width} {
//         width: #{$width+'%'} !important;
//     }
// }

.text-center{
    text-align: center;
}
.c-default{
    cursor: default !important;
}
h1{
    margin-bottom: 20px;
}
h2{
    margin-bottom: 30px;
    @include mediaMax(991px){
        margin-bottom: 15px;
    }
}
h3{
    margin-bottom: 25px;
    @include mediaMax(991px){
        margin-bottom: 15px;
    }
}
h4{
    margin-bottom: 25px;
    @include mediaMax(991px){
        margin-bottom: 15px;
    }
}
p{
    font-weight: 400;
    @include fs(18);
    margin-bottom: 20px;
    @include mediaMax(767px){
        @include fs(16);
    }
}
.mb-0{
    margin-bottom: 0;
}
ol,ul{
    margin: 30px 0 30px 20px;
    li{
        line-height: 1.5;
    }
}
ol{
    list-style-type: decimal;
}
ul{
    list-style-type: disc;
    li{
        &::marker{
            color: $color-1;
        }
    }
}
a{
    color: $color-1;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
    th,td{
        border: 1px solid #425fa1;
        padding: 15px;
        text-align: left;
    }
    th{
        font-weight: bold;
    }
}
.img-holder{
    position: relative;
    img{
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.anim-holder{
    position: relative;
    width: 100%;
    >img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .lottie-anim{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    &.anim-1{
        padding-top: 108.73605947955392%;
    }
}
