#loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background-color: #ffffff;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    animation:fadeinout 2s ease-in-out infinite;
  }
}
img {
  // color: transparent;
  }
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
@keyframes fadeinout{
  0%,100%{
      opacity:0;
  }
  50%{
      opacity:1;
  }
}
.mask{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1044;
  background-color: rgba(1, 16, 49,0.7);
}
.img-holder{
  // @include holder(500, 333);
}


//container


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}
.global-wrapper{
  padding-top: 72px;
  @include mediaMax(1199px){
    padding-top: 64px;
  }
}
//Header block
.global-header{
  background: $color-6;
  box-shadow: 0px 3px 16px rgba(32, 33, 37, 0.06);
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  >.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    @include mediaMin(1200px){
        width: 1200px;
    }
    @include mediaMax(1199px){
      height: 64px;
      position: relative;
    }
  }
  .logo{
    img{
      @include mediaMax(1199px){
        width: 124px;
      }
    }
  }
  .header-nav-block{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    @include mediaMax(1199px){
      padding-right: 40px;
    }
  }
  .global-nav{
    margin-right: 170px;
    @include mediaMax(1199px){
      display: none;
    }
  }
}
.nav-for-mobile{
  @include mediaMin(1200px){
    display: none;
  }
}
.login-mask{
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* background: black; */
    z-index: 99;
    /* filter: blur(5px); */
    background: rgb(255 253 253 / 56%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    &.show-mask{
      opacity: 1;
      visibility: visible;
    }
}
.login-btn{
  cursor: pointer;
  margin-right: 20px;
  max-width: 82px;
  @include fs(16);
  height: 52px;
  display: flex;
  align-items: center;
  color: #00636E;
  font-weight: 500;
  @include mediaMax(1199px){
    height: auto;
    padding: 0;
    margin-left: 15px;
  }
  @include mediaMax(991px){
    margin-left: 0;
  }
}
.login{
  position: relative;
  @include mediaMax(1199px){
    max-width: 970px;
    margin: 20px auto 0;
  }
  @include mediaMax(991px){
    max-width: 750px;
  }
  &:hover{
    @include mediaMin(1200px){
      .login__dropdown{
        visibility: visible;
        opacity: 1;
        transform: translate3D(-50%, 0, 0);
      }
    }
  }
  &.show-login{
    @include mediaMax(1199px){
      .login__dropdown{
        visibility: visible;
        opacity: 1;
        transform: translate3D(-50%, 0, 0);
      }
    }
  }
}
.login__dropdown{
  padding: 28px 28px;
  box-shadow: 0px 4px 50px rgba(61, 64, 67, 0.1);
  border-radius: 6px;
  background-color: $color-6;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3D(-50%, 10px, 0);
  z-index: 1030;
  transition: all .2s ease-in-out;
  transform-origin: top center;
  visibility: hidden;
  opacity: 0;
  width: 350px;
  @include mediaMax(1199px){
    position: fixed;
    top: 0;
    padding: 20px 20px;
    max-width: 320px;

  }
  .login__link{
    &:first-child{
      padding-bottom: 20px;
      border-bottom: 1px solid #C4C4C4;
      margin-bottom: 25px;
    }
    >a{
      display: flex;
      align-items: center;
      img{
        margin-right: 25px;
        @include mediaMax(1199px){
          margin-right: 10px;
        }
      }
      .login__item{
        span{
          @include fs(16);
          font-weight: 600;
          display: block;
          margin-bottom: 0;
          @include mediaMax(1199px){
            @include fs(16);
          }
        }
        p{
          @include fs(16);
          font-weight: 300;
          margin-bottom: 0;
          margin-top: 0;
          opacity: 0.9;
          @include mediaMax(1199px){
            @include fs(14);
          }
        }
      }
    }
  }
}
.header-nav-block{
  .login{
    @include mediaMax(1199px){
      display: none;
    }
  }
}
.global-nav{
  @include mediaMax(1199px){
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
    top: 63px;
    background-color: $color-6;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out 0s;
    padding: 30px 20px 30px 20px;
    &.show{
      box-shadow: 0px 3px 16px rgb(32 33 37 / 6%);
      transform: translateY(0);
    }
  }
  ul{
    margin: 0;
    display: flex;
    @include mediaMax(1199px){
      display: block;
      max-width: 970px;
      margin: 0 auto;
    }
    @include mediaMax(991px){
      max-width: 750px;
    }
    li{
      list-style-type: none;
      margin-right: 8px;
      @include mediaMax(1199px){
        margin-bottom: 10px;
        margin-left: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      @include mediaMax(991px){
        margin-left: 0;
      }
      a,span{
        @include fs(16);
        display: inline-block;
        padding: 12px 12px 10px 12px;
        font-weight: 500;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        @include mediaMax(1199px){
          padding: 5px 0;
        }
      }
      &.active{
        a,span{
          border-bottom: 2px solid $color-4;
        }
      }
    }
  }
}

//mobile nav
#menuToggle{
  display: none;
}
@include mediaMax(1199px){
  #menuToggle {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #292923;
    border: 0;
    box-shadow: none;
    transition: .25s ease-in-out;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
    #menuToggle {
      display: inline-block;
      margin-left: 15px;
  }
  #menuToggle, #menuToggle:after, #menuToggle:before {
      background-color: #292923;
  }
  #menuToggle.opened {
    transform: rotate(-45deg);
  }
  #menuToggle:after, #menuToggle:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #292923;
    left: 0;
    transition: .25s ease-in-out;
  }
  #menuToggle:before {
    top: -6px;
  }
  #menuToggle:after {
    top: 6px;
  }
  #menuToggle.opened:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0px;
  }
  #menuToggle.opened:before {
    opacity: 0;
  }
}

.spotlight{
  padding-top: 120px;
  padding-bottom: 120px;
  @include mediaMax(991px){
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.spotlight__content{
  text-align: center;
  padding: 0 0 60px;
  max-width: 874px;
  margin: 0 auto;
  @include mediaMax(991px){
    padding: 0 0 40px;
  }
  p{
    max-width: 740px;
    margin: 0 auto;
    font-weight: 400;
  }
}
.mt-1{
  margin-top: 60px;
  @include mediaMax(991px){
    margin-top: 40px;
  }
}
.block-header{
  margin-bottom: 60px;
  @include mediaMax(991px){
    margin-bottom: 40px;
  }
  p{
    max-width: 890px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.6;
  }
}
.why-cspay{
  // padding-top: 90px;
  // padding-bottom: 90px;
}
.py-type1{
  padding-top: 90px;
  padding-bottom: 90px;
  @include mediaMax(991px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.visually-hide{
  opacity: 0;
}


.why-cspay__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
  @include mediaMax(991px){
    margin-bottom: 40px;
  }
  @include mediaMax(767px){
    flex-direction: column;

  }
  &:nth-child(even){
    @include mediaMin(768px){
      flex-direction: row-reverse;
    }
  }
  .why-cspay__desc{
    flex: 0 0 auto;
    width: 53%;
    @include mediaMax(767px){
      width: 100%;
    }
    p{
      padding-bottom: 23px;
      border-bottom: 1px solid #93D5DC;
      margin-bottom: 23px;
    }
    ul{
      margin: 0;
      list-style-type: none;
      li{
        padding: 0 0 0 44px;
        background: url(../images/list-arrow.svg) no-repeat left 7px;
        font-weight: 400;
        @include fs(18);
        line-height: 1.55;
        color: $color-8;
        margin-bottom: 15px;
        @include mediaMax(767px){
          @include fs(16);
        }
      }
    }
  }
  .why-cspay__image{
    flex: 0 0 auto;
    width: 35.39%;
    @include mediaMax(767px){
      width: auto;
      margin-bottom: 40px;
    }
    img{
      width: 100%;
    }
  }
}
.anchor-spacer{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
  @include mediaMax(1199px){
    top: -63px;
  }
  
}
//Benefits block
.benefits__items{
  // display: flex;
}
.benefits__item{
  margin-bottom: 16px;
  background-color: $color-9;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  @include mediaMax(767px){
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.benefits__desc{
  width: 58.8%;
  flex: 0 0 auto;
  @include mediaMax(767px){
    width: 100%;
  }
  p{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
      @include mediaMax(767px){
        margin-bottom: 25px;
      }
    }
  }
}
.benefits__image{
  width: 36.46%;
  flex: 0 0 auto;
  @include mediaMax(767px){
    width: auto;
    margin-bottom: 30px;
  }
}

//Pricing block
.pricing{
  border-top: 1px solid #C4C4C4;
  padding-top: 90px;
  padding-bottom: 60px;
  @include mediaMax(991px){
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.pricing__details{
  max-width: 606px;
  margin: 0 auto;
}
.pricing__item{
  background-color: $color-9;
  width: 100%;
  margin-bottom: 16px;
  padding: 40px 32px;
  border-radius: 6px;
  @include mediaMax(767px){
    padding: 27px 12px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.pricing__rebate{
  text-align: center;
  
}
.pricing__variation{
  font-weight: 600;
  @include fs(30);
  line-height: 1.2;
  display: block;
  margin-bottom: 12px;
  @include mediaMax(767px){
    @include fs(28);
  }
}
.pricing__label{
  display: block;
  @include mediaMax(1199px){
    @include fs(16);
  }
}
.pricing__desc{
  padding-top: 32px;
  max-width: 606px;
  margin: 0 auto;
  ul{
    margin: 0;
    list-style-type: none;
    li{
      margin-bottom: 10px;
      color: $color-9;
      padding: 0 0 0 34px;
      background: url(../images/green-tick.svg) no-repeat left 5px;
      @include mediaMax(767px){
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

//Book now banner
.banner{
  background-color: $color-1;
}
.banner__wrap{
  padding: 110px 0 110px;
  text-align: center;
  @include mediaMax(767px){
    padding: 50px 0;
  }
}
.banner__desc{
    max-width: none;
    margin-bottom: 60px;
    @include mediaMax(767px){
      margin-bottom: 30px;
    }
  >span{
    font-weight: 700;
    @include fs(46);
    display: block;
    line-height: 1.4;
    margin-bottom: 20px;
    @include mediaMax(767px){
      @include fs(28);
    }
  }
  >p{
    @include fs(24);
    margin-bottom: 0;
    margin-top: 0;
    @include mediaMax(767px){
      @include fs(16);
    }
  }
}

.global-footer{
  background-color: $color-6;
  .copyright{
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    @include mediaMax(767px){
      height: 64px;
    }
    span{
      display: block;
      width: 100%;
      @include fs(12);
    }
  }
}

//company
.story__block{
  margin-bottom: 16px;
  background-color: $color-9;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  @include mediaMax(767px){
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.story__desc{
  width: 49%;
  flex: 0 0 auto;
  @include mediaMax(767px){
    width: 100%;
  }
  p{
    margin-bottom: 10px;
    line-height: 1.55;
    &:last-child{
      margin-bottom: 0;
      @include mediaMax(767px){
        margin-bottom: 25px;
      }
    }
  }
}
.story__image{
  width: 48%;
  flex: 0 0 auto;
  @include mediaMax(767px){
    width: auto;
    margin-bottom: 30px;
  }
}
.quote{
  max-width: 580px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p{
    @include fs(24);
    line-height: 1.6;
    color: $color-8;
    @include mediaMax(767px){
      @include fs(20);
    }
  }
  .quote__first{
    margin-bottom: 10px;
    &::before{
      content: url(../images/left-quote.svg);
      margin-right: 10px;
    }
  }
  .quote__last{
    margin-bottom: 24px;
    &::after{
      content: url(../images/right-quote.svg);
      margin-left: 10px;
    }
  }
  .quoted{
    font-weight: 600;
    @include fs(20);
    color: $color-4;
    display: inline-block;
    margin-top: 24px;
  }
  .designation{
    @include fs(20);
    color: $color-8;
  }
}
.numbers__detail{
  max-width: 490px;
  margin: 0 auto;
}
.numbers__item{
  background-color: $color-9;
  border-radius: 6px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @include mediaMax(767px){
    padding: 16px 15px;
  }
}
.numbers__image{
  margin-right: 32px;
  @include mediaMax(767px){
    margin-right: 20px;
  }
}
.numbers__desc{
  h5{
    margin-bottom: 5px;
  }
  span{
    color: $color-8;
  }
}
.team__wrapper{
  display: flex;
  justify-content: space-between;
  @include mediaMax(767px){
    flex-direction: column;
  }
  .team__block{
    flex: 0 0 auto;
    width: 29%;
    @include mediaMax(767px){
      width: 100%;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    h3{
      margin-bottom: 30px;
      color: $color-4;
      @include mediaMax(767px){
        margin-bottom: 10px;
      }
    }
  }
}
.team__list{
  .team__item{
    padding-top: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid #B7E6EB;
    .team__head{
      @include fs(17);
      font-weight: 600;
      display: block;
      color: $color-8;
      text-transform: uppercase;
    }
    a{
      &:hover{
        text-decoration: underline !important;
      }
    }
    .team__label{
      font-weight: 500;
      @include fs(14);
      color: #728292;
    }
  }
}

//accordion
.faq__item{
  padding: 0 20px 0 40px;
  background-color: $color-9;
  margin-bottom: 16px;
  @include mediaMax(767px){
    padding: 0 20px 0 20px;
  }
  &:first-child{
    .faq__desc{
      display: block;
    }
  }
}
.faq__head{
  padding: 24px 40px 24px 0;
  position: relative;
  cursor: pointer;
  &::after{
    content: "+";
    font-weight: 600;
    @include fs(20);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.open{
    &::after{
      content: "-";
    }
  }
}
.faq__desc{
  display: none;
  padding: 0 0 24px;
  max-width: 95%;
  p{
    line-height: 1.6;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

